body {
  background: linear-gradient(to top right, #1e90ff, #87cefa);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.timer {
  text-align: center;
}

.time-left {
  font-size: 6rem;
  letter-spacing: 0.1em;
}

.be-back {
  font-size: 1.5rem;
  margin-top: 10px;
}
